@import "variabili";
@import "Mixin";
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: "Raleway";
    text-decoration: none;
}


/*Prima pagina*/
.main-content {
    position: relative;
    /*Immagine*/
    img {
        position: relative;
        width: 100% ;
        margin-top: 0px;
    }    
} 
/*Titolo*/
.text-content {
    color: $test-color;
    margin: 30px;
    top: 150px;
    position: absolute;
    /*Testo*/
    h1 {
        margin: 0px;
        color:$test-color;
        font-size: 55px;
        width: 70%;
        padding-left: 100px;
        text-shadow: $shadow;
        display: flex
    }
}




/*Titolo e immagine sotto i 480px*/
@include mobile-query(480px){
  /*Immagine*/
  .main-content img {
    width: 100%;
    object-fit: cover;
    height: 800px;
  }
  /*Titolo*/
  .main-content .text-content {
    position: absolute;
    top:300px;
    margin: 30px;
    width: 70%;
    display: flex;
    font-size: 50px ;
  }
}
/*Titolo e immagine sotto gli 800px*/
@include mobile-query(800px) {
  /*Titolo*/ 
  .text-content h1 {
      font-size: 55px;
      position: relative;
      bottom: 80px;
      padding-left: 30px;
      width: 95%;
  }
}
/*Titolo e immagine sotto i 300px*/
@include mobile-query(300px) {
  /*Titolo*/
  .text-content h1 {
      font-size: 40px;
  }
}











